body{
    background-color: #0a2e5c;
    margin: 0px;
}

.logosign{
    display: block;     
    margin: 0 auto;      
    width: 300px;  
}
#cap{
    color: white;
    font-family:'Montserrat', sans-serif;
    text-align: center;
     font-weight: 600;
    font-size: 22px;
    
}

a{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    display: block;
    color: black;
    padding:15px;
    margin-top: 50px;
    border: none;
    border-radius:190px;
    text-align: center;
    background-color:#5c8ac2;
    text-decoration: none;
    margin-left:auto;
    margin-right: auto;
    width:35%;
}
.buttun:hover{
    background-color:white;
}